<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
<meta charset="UTF-8">
<title>CookCloud MyPage</title>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<link rel="stylesheet" th:href="@{/css/nav.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/mypage.js" defer></script>
<script src="/js/logout.js" defer></script>
<script src="/js/message.js" defer></script>
<script src="/js/saveMember.js"></script>
<script src="/js/deleteMember.js"></script>
</head>
<div th:if="${isOwnPage}">
</div>
</html>