<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<section th:fragment="myrecipes" id="my-recipes" class="content-tab active">
		<h3>나의 레시피</h3>
			<div class="recipe-grid">
				<div class="recipe-card" th:each="recipe : ${myRecipes}">
					<img th:src="@{${recipe.imageUrl}}"><br>
					<h4><a th:href="@{'/recipes/recipe/' + ${recipe.recipeId}}" th:text="${recipe.recipeTitle}">레시피 제목</a></h4>
			        <p th:text="${#temporals.format(recipe.recipeInsertAt, 'yyyy-MM-dd HH:mm')}">작성일</p>
			        <p>조회수: <span th:text="${recipe.recipeViewCount}">조회수</span></p>
				</div>
			</div>
		</section>
</html>