<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>비밀번호 변경</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" th:href="@{/css/member.css}">
</head>
<body>
	<div class="container">
		<div class="logo">
			<a th:href="@{/}"><img src="/img/logo.png"></a>
			<h2>비밀번호 찾기</h2>
		</div>
		<form action="/login/findpassword" method="post">
			<input type="text" name="memId" class="input-field" placeholder="아이디 입력" required> 
			<input type="email" name="memEmail" class="input-field" placeholder="이메일 입력" required>
			<input type="tel" name="memPhone" class="input-field" placeholder="전화번호 입력" required>
			
			<div class="links">
			<input type="button" class="submit-btn" value="비밀번호 찾기" onclick="this.form.submit()">
       		</div>
		</form>
		<div class="links">
            <a th:href="@{/login}">로그인 하기</a> 
        </div>
	</div>
</body>
</html>
