<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Cloud 로그인</title>
    <link rel="stylesheet" th:href="@{/css/member.css}">
</head>
<body>
	<div class="container">
        <div class="logo">
            <a th:href="@{/}"><img src="/img/logo.png"></a>
            <h2>로그인</h2>
        </div>
        <p th:if="${message}" th:text="${message}" style="color: green;"></p>
        
		 <form th:action="@{/login}" method="post">
		 	 <div class="form-row">
            <input type="text" id="username" class="input-field" name="username" placeholder="아이디" required><br><br>
            </div>
            <div class="form-row">
            <input type="password" id="password" class="input-field" name="password" placeholder="비밀번호" required><br><br>
            </div>
            <div class="form-row">
            <button class="login-btn" type="submit">로그인</button>
            </div>
        </form>
        <!-- 로그인 실패 시, 오류 메시지 출력 -->
		<div th:if="${param.error}">
		    <p style="color:red;">아이디와 비밀번호를 확인하세요.</p>
		</div>
        <div class="links">
            <a th:href="@{/signup}">회원가입</a> 
            <a th:href="@{/login/findId}">아이디 찾기</a> 
            <a th:href="@{/login/findpassword}">비밀번호 찾기</a>
        </div>
        </div>
</body>
</html>
